.hideSignup {
    display: none;
}
.showSignup {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #0a718a;
    margin: 3% 35%;
    padding:30px 40px ;
    color: #d7ecf0;
}
@media (max-width:700px) {
  .showSignup {
    margin: 3% 15%;
    padding: 25px ;
  }
}
.showSignup h2 {
    margin-bottom: 10px ;
    color: #e8f2f4;
}
.showSignup input {
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    background-color: #ffffff ;
    width: 100%;
}
.showSignup input:focus {
   outline: none;
}
.showSignup button {
    padding: 8px ;
   border: none;
   border-radius: 5px;
   width: 100%;
}
.signupSubmitButton {
    background-color: #77de77d1;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.signupSubmitButton:hover {
    background-color: #4ddb4d;
    cursor: pointer;
    transition: 0.5s;
}
.signupCloseButton {
    background-color:#88b6c1f5;
}
.signupCloseButton:hover {
    background-color: rgba(255, 255, 255, 0.758);
    cursor: pointer;
    transition: 0.5s;
}

.invalidPrompt {
    font-size: 12px;
    color: rgba(248, 105, 105, 0.964);
}
